global
    user  haproxy-usr
    group haproxy-grp
    maxconn 1024
    pidfile /run/haproxy.pid
    log stdout format rfc5424 local0 notice
    nbthread auto

defaults
    mode http
    log global
    option httplog
    timeout client  10s
    timeout connect 3s
    timeout server  30s
    option forwardfor
    option http-server-close
    retries 3

frontend public_http
    bind *:8080
    acl is_health path_beg /haproxy
    use_backend health_backend if is_health
    default_backend flask_app

backend flask_app
    balance roundrobin
    option http-server-close
    option forwardfor
    option httpchk GET /health
    http-check expect status 200
    http-response del-header Server
    http-response del-header X-Powered-By
    server flask_app app:5000 check inter 5s fall 2 rise 2

backend health_backend
    mode http
    http-request return status 200 content-type text/plain string "OK"